PORT=4000
NODE_ENV=local
BASE_PATH=/vuelapelucas3000_2

MONGODB_URI=mongodb://localhost:27017/vuelapelucas3000

JWT_SECRET=tu_jwt_secret_aqui
ADMIN_PASS=tu_admin_pass_aqui

VPS_HOST=tu_vps_host_o_ip
VPS_PORT=22
VPS_USER=root

# FTP del hosting (Ferozo / fullscreencode.com)
FTP_HOST=tu_ftp_host
FTP_USER=tu_ftp_user
FTP_PASS=tu_ftp_password
# Carpeta raiz del frontend dentro del webroot del hosting
FTP_REMOTE_BASE=/public_html/vuelapelucas3000_2
