# Dependencias
node_modules/
assetsraw
# Entorno
.env

# Backups y temporales
*.tar.gz
*.backup
*.tmp
deploy_scripts/*.backup

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/